
<div class="clear"></div>
<div id="footer">
	<div class="share">
		<ul>
			<li class="twitter">
				<a target="_blank" href="#">Twitter</a>
			</li>
			<li class="facebook">
				<a target="_blank" href="#">Facebook</a>
			</li>
			<li class="google">
				<a target="_blank" href="#">Google</a>
			</li>
			<li class="pinterest">
				<a target="_blank" href="#">Pinterest</a>
			</li>
			<li class="rss">
				<a target="_blank" href="#">rss</a>
			</li>
		</ul>
	</div>
</div>