.session-sign-in {
	height: 400px;
	width:400px;
	margin: 0 auto;
}

.registration {
	height: 400px;
	width:400px;
	margin: 0 auto;
	ul {
		list-style: none;

	}
	
}

.inline-errors {
	color: #FF0000
}