.share {
	margin-right: 60px;
	
	ul {
    	list-style: none outside none;
	}
	
	li {
		background-image:url(asset-path("bg-share-icons.png", image));
    	background-repeat: no-repeat;
    	float: right;
    	height: 32px;
    	margin-right: 10px;
    	overflow: hidden;
    	text-indent: -345em;
    	width: 32px;
	}	
	
	.facebook { background-position: -32px -32px; }
	.facebook:hover { background-position: -32px 0;}
	
	.twitter { background-position: 0 -32px; }
	.twitter:hover { background-position: 0 0; }
	
	.google { background-position: -64px -32px; }
	.google:hover { background-position: -64px 0; }
	
	.pinterest { background-position: -96px -32px; }
	.pinterest:hover { background-position: -96px 0;}

	.rss { background-position: -128px -32px; }	
	.rss:hover { background-position: -128px 0; }
}