#home-page {
	.slider {
		background:#444;
		width: 950px;
		height: 400px;
		margin: 30px auto;		
		img {
			width: 600px;
		}
	}
	.top-picks{
		width: 960px;
		height: 320px;
		margin: 30px auto;
		img {
			width: 300px;
			padding-right:20px;
		}
	}
}