.post-wrapper {
	margin: 20px auto;
	height: 100%;
	width: 700px;

	.post-info {
		img {
			margin: 20px 30px;
		}	
	}

}
.category-area {
	h1 {
		margin-left: 50px;
	}
	.post-list {
		width: 800px;
		ul {
			list-style: none;
		
			li {
				img {
					margin: 15px;
					width: 100px;
					float: left;
				}
				info {
					margin-top: 12px;
				}
			}
		
		}
		
		.posting {
			margin-left: 50px;
		}
	}
	
	.ad-area {
		margin: 20px;
		height: 600px;
		width: 250px;
		background:#FFF;		
	}
}	