/* line 3, ../../app/assets/stylesheets/header.css.scss */
#header img.logo-img {
  margin: 30px 100px;
  width: 400px;
}
/* line 8, ../../app/assets/stylesheets/header.css.scss */
#header .main-menu a {
  color: #000;
}
/* line 11, ../../app/assets/stylesheets/header.css.scss */
#header .main-menu a:hover {
  color: #AAA;
}
/* line 17, ../../app/assets/stylesheets/header.css.scss */
#header .top-menu a {
  color: #444;
}
/* line 21, ../../app/assets/stylesheets/header.css.scss */
#header .top-menu .user-area {
  margin: 0 60px 0 8px;
  padding: 10px 18px;
  background: #444;
  font-size: 0.9em;
  color: #FFF;
}
/* line 29, ../../app/assets/stylesheets/header.css.scss */
#header .top-menu .user-area a {
  color: #FFF;
}
/* line 32, ../../app/assets/stylesheets/header.css.scss */
#header .top-menu .user-area a:hover {
  color: #CCC;
}
/* line 35, ../../app/assets/stylesheets/header.css.scss */
#header .main-menu {
  background: #444;
  padding: 10px;
  text-align: center;
}
