/* line 1, ../../app/assets/stylesheets/posts.css.scss */
.post-wrapper {
  margin: 20px auto;
  height: 100%;
  width: 700px;
}
/* line 7, ../../app/assets/stylesheets/posts.css.scss */
.post-wrapper .post-info img {
  margin: 20px 30px;
}
